* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
header {
  margin-bottom: 84px;
  margin-top: 51px;
}
.logo_nav {
  display: flex;
  justify-content: space-between;
}

main {
  margin-bottom: 162px;
}
footer {
  padding: 97px 0px;
}
