* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
header {
  margin-bottom: 84px;
  margin-top: 51px;
}
.logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 533px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
}
.first_nav_link {
  color: #f25822;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_link {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  margin-bottom: 162px;
}
.main {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 522px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 17px;
}
.text {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 466px;
  margin-bottom: 37px;
}
.main_content_btns {
  display: flex;
  gap: 72px;
}
.start_now {
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}
.watch_video {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #fff;
  border: none;
}

footer {
  padding: 97px 0px;
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.woff2");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.woff2");
}
